$gametext: yellow;
$font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$bgcolor: gray;
$popupbg: rgba(106, 106, 106, 0.7);
$blue: #338bba;
$red: #fe0606;
$white: #ffffff;
$navy: #043c7c;
$black: #000000;
$width: rem(350px);
