@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-color: gray;
}
body #imageContainer .bazinga {
  display: none;
  margin: 0 auto;
  opacity: 0; /* Initially hidden */
  animation: fadeInOut 2s ease-in-out 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Positions on top of other divs */
}
@media (max-width: 800px) {
  body #imageContainer .bazinga {
    width: 90%;
  }
}
body #gameDiv {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: 2px solid #000000;
  border-radius: 25px;
  background-color: #043c7c;
  text-align: center;
  padding: 30px;
}
body #gameDiv .gametitle {
  color: #ffffff;
  align-self: center;
}
body #gameDiv .bigbangbanner {
  width: 37.5rem;
}
@media (max-width: 800px) {
  body #gameDiv .bigbangbanner {
    width: 85%;
  }
}
body #gameDiv .howtobutton {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #gameDiv .howtobutton .flashbutton {
  display: inline-block;
  padding: 15px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: yellow;
  -webkit-animation: blinker 2s 4;
  -moz-animation: blinker 2s 4;
  animation: blinker 2s 4;
}
body #gameDiv .popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(106, 106, 106, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
body #gameDiv .popup:target {
  visibility: visible;
  opacity: 1;
}
body #gameDiv .popup .content {
  position: absolute;
  background: #ffffff;
  width: 28.125rem;
  padding: 1em 2em;
  border-radius: 10px;
}
body #gameDiv .popup .content .bazinga-popup {
  width: 21.875rem;
  height: 18.75rem;
}
body #gameDiv .popup .content p {
  font-size: 19px;
  align-items: center;
}
body #gameDiv .popup .content .box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 30px;
}
body #gameDiv .photoflexbox {
  display: inline-flex;
  margin-bottom: 2.5rem;
}
body #gameDiv .photoflexbox .sheldonsgame {
  margin-right: 30px;
  margin-top: 30px;
  width: 21.875rem;
}
@media (max-width: 800px) {
  body #gameDiv .photoflexbox .sheldonsgame {
    width: 60%;
  }
}
body #gameDiv .photoflexbox .btnoptions {
  width: 100px;
  flex-direction: column;
  align-self: center;
  margin-right: 40px;
  margin-top: 50px;
}
@media (max-width: 800px) {
  body #gameDiv .photoflexbox .btnoptions {
    display: block;
  }
}
body #gameDiv .photoflexbox .btnoptions .choiceBtn {
  line-height: 30px;
  width: 150px;
  background-color: #338bba;
  border: 3px solid #ffffff;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 30px;
}
body #gameDiv .photoflexbox .btnoptions .choiceBtn:hover {
  background-color: #043c7c;
}
@media (max-width: 800px) {
  body #gameDiv .photoflexbox .btnoptions .choiceBtn {
    width: 100px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
body #gameDiv .gameText {
  color: yellow;
}

/*# sourceMappingURL=style.css.map */
